**__pycache__/**
.pytest_cache/
models/
current_best_matches.csv
*.pyc
dist/
*.egg-info/
wandb/**
wiki_aliases/**
historicjapanese/**
.idea
extra_data/**
un_data/**
wiki_aliases_copy/**
*.csv
/docs/build