**__pycache__/**
.pytest_cache/
models/
current_best_matches.csv
*.pyc
dist/
*.egg-info/
wandb/**
wiki_aliases/**
historicjapanese/**
.idea
extra_data/**
un_data/**
wiki_aliases_copy/**
*.csv
/docs/build
/docs/_build
**.pt
**.log
**trainer_state.json
**training_args.bin
**rng_state.pth
**.bin
**.ipynb_checkpoints
**.ipynb
**wandb
**test_lt_clf**
**clean_protest_models**
**data_outside_package**
**archive_to_remove**

